* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d2d3c;
}

header {
    background-color: #06131f;
}

.container {
    width: 1080px;
    margin: 0px auto;
    height: 100%;
}

header {
    height: 80px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    display: block;
    height: 40px;
}

#discs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.disc {
    flex-basis: calc(100% / 4);
    margin: 30px;
    padding: 20px;
    border-radius: 6px;
    background-color: #112030;
    color: white;
    text-align: center;
}

.disc img {
    margin-bottom: 20px;
    max-width: 80%;
}

.disc .author {
    font-size: 14px;
}

.disc .year {
    font-size: 16px;
    font-weight: bold;
}

.disc .year, .disc .author {
    display: block;
    margin: 10px 0px;
}